# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Django stuff
db.sqlite3
/static
/media

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
*.env
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp

# Migrations pyc
*/migrations/__pycache__/
